@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff8f0;
    --foreground: #363228;
    --primary: #44674d;
    --primary-dim: #385b42;
    --primary-container: #c5eccc;
    --secondary: #a0412d;
    --secondary-dim: #903522;
    --secondary-container: #ffdad3;
    --tertiary: #44674e;
    --tertiary-container: #d3fbda;
    --surface: #fff8f0;
    --surface-bright: #fff8f0;
    --surface-dim: #e1d9ca;
    --surface-variant: #eae1d2;
    --surface-container-lowest: #ffffff;
    --surface-container-low: #faf3e7;
    --surface-container: #f5ede0;
    --surface-container-high: #efe7da;
    --surface-container-highest: #eae1d2;
    --on-surface: #363228;
    --on-surface-variant: #645e53;
    --outline: #807a6d;
    --outline-variant: #b9b1a3;
  }

  .dark {
    --background: #100e09;
    --foreground: #f5ede0;
    --primary: #b7debe;
    --primary-container: #375941;
    --secondary: #ffc8bc;
    --secondary-container: #8e3421;
    --tertiary: #c5eccc;
    --tertiary-container: #3f6249;
    --surface: #100e09;
    --surface-dim: #e1d9ca;
    --surface-container-lowest: #000000;
    --surface-container-low: #1a1b0e;
    --surface-container: #232d19;
    --surface-container-high: #2d3824;
    --surface-container-highest: #38432f;
    --on-surface: #f5ede0;
    --on-surface-variant: #b9b1a3;
    --outline: #807a6d;
  }
}

.hearth-shape {
  border-radius: 60% 40% 70% 30% / 40% 50% 60% 40%;
}
