@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fbfbe2;
    --foreground: #1b1d0e;
    --primary: #486730;
    --secondary: #9f402d;
    --surface: #fbfbe2;
    --surface-container: #efefd7;
    --surface-container-low: #f5f5dc;
    --surface-container-high: #eaead1;
    --surface-container-highest: #e4e4cc;
    --outline: #74796c;
    --text: #1b1d0e;
  }
  .dark {
    --background: #1b1d0e;
    --foreground: #fbfbe2;
    --primary: #87a96b;
    --secondary: #ffb4a5;
    --surface: #1b1d0e;
    --surface-container: #303221;
    --surface-container-low: #43483d;
    --surface-container-high: #43483d;
    --surface-container-highest: #43483d;
    --outline: #c4c8ba;
    --text: #fbfbe2;
  }
}
